<html>
        <head>
            <title>Index page</title>
        </head>
        <body>
            <h1>Welcome to mysite.com</h1>
            <p><a href=''>Index</a> | <a href='/about'>About Us</a> 
            | <a href='/contact'>Contact Us</a></p>

            <p>
                <p>ID : <%= objPerson.id %> </p>
                <p>NAME :<%= objPerson.name %></p>
                <p>ADDRESS :<%= objPerson.address %></p>
            </p>
        </body>
    </html>