<h1>Sending value to server</h1>
<h2>Query String</h2>
<p><a href='/getValues1?id=1&name=broadway&address=ktm'>Click Me</a></p>

<h2>Query Param</h2>
<p><a href='/getValues2/2/Infosys/KTM'>Click Me</a></p>

<h2>GET-Method</h2>
<form action="getValues3" method="get">
    <p>ID : <input type="text" name="txtid"></p>
    <p>NAME : <input type="text" name="txtname"></p>
    <p>ADDRESS : <input type="text" name="txtaddress"></p>
    <p><input type="submit"></p>
</form>

<h2>POST-Method</h2>
<form action="getValues4" method="post">
    <p>ID : <input type="text" name="txtid"></p>
    <p>NAME : <input type="text" name="txtname"></p>
    <p>ADDRESS : <input type="text" name="txtaddress"></p>
    <p><input type="submit"></p>
</form>